.hello-title{
    color: darkgreen;
}
body{
    font-family: verdana;
}

table {
   width: 500px;
    
}

table, th, td {
   border: 1px solid black;
   padding: 2px;
}

tr.header{
   background-color: #00439A;
   color : #FFFFFF;
}

tr.odd{
   background-color: #CFCFCF;
}

tr.even{
   background-color: #1076F5;
}