<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>WELCOME TO CONTACTS BOOK 2JPA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container my-2" align="center">
		<div class="card">
			<div class="card-body">
				<h1>Create New Contact</h1>
				<br />
				<form action="#" th:action="@{/save}" th:object="${CustomerX}" method="post">
					<table border="0" cellpadding="10">
				
						<tr>
							<td>FirstName .:</td>
							<td><input type="text" th:field="*{firstname}" />
								<a><i class="fas fa-user-edit ml-2"></i></a>
							</td>
						</tr>
						<tr>
							<td>lastname:</td>
							<td><input type="text" th:field="*{lastname}" />
								<a><i class="fas fa-user-plus ml-2"></i></a></td>
						</tr>
						<tr>
							<td>email:</td>
							<td><input type="text" th:field="*{email}" />
								<a><i class="fas fa-user-plus ml-2"></i></a></td>
						</tr>
										<tr>
							<td colspan="2"><button type="submit">Save Contact </button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>